# https://github.com/gradle/actions/tree/main/wrapper-validation

name: 'Validate Gradle Wrapper'

on: [pull_request]

jobs:
  validation:
    name: 'Validation'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5
